@use "../custom";
@use "../components/mixins" as mixin;

.intro-section {
  @include mixin.gradient;
  padding: 10rem 0 0 0;
  width: 100%;
  height: 100%;
}

.intros {
  position: relative;
  a {
    // @include mixin.absoluteCenter;

    span {
      i {
        font-size: 6rem;
        color: custom.$secondary;
      }
    }
  }
}
