@use "../custom";
@use "../components/mixins";

.menu {
  @include mixins.gradient;

  img {
    width: 2.5rem;
  }
  li {
    padding: 0 0.7rem;
    a {
      color: custom.$white;
      text-transform: capitalize;
      font-weight: 600;
    }
  }
}
